.painel{
	width: 100vw;
	height: 100vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 200px;
	font-weight: 700;
	color: black;
}

.painel .content {
	margin-top: 40px;
	text-decoration: underline;
	font-size: 300px;
}